<link href="~/css/site.css" rel="stylesheet" />
@model CarRent.Models.Rentals

@{
    ViewData["Title"] = "Create";
}


<h4 class="center">Rent a Car</h4>
<hr />
<div class="row justify">
    <div class="col-md-4">
        <form asp-area="" asp-controller="Rentals" asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DriverId" class="control-label">Driver</label>
                <select asp-for="DriverId" class="form-control" asp-items="ViewBag.DriverId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label">Car</label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary fright" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary back" style="float: right;">🢀</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
